Flask==0.10.1
Flask-RESTful==0.3.4
Flask-Script==2.0.5
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
alembic==0.7.7
Werkzeug==0.9.6
argparse==1.2.1
docopt==0.4.0
flake8==2.2.5
gunicorn==19.3.0
itsdangerous==0.24
mandrill==1.0.57
mccabe==0.3
pep8==1.5.7
psycopg2==2.5.4
pyflakes==0.8.1
requests==2.6.2
wsgiref==0.1.2
redis==2.10.3
elasticsearch==2.1.0

# Was removed by mandrill, in case things go bonkers
# distribute==0.6.24
