<!DOCTYPE html>
<html lang="en" ng-app="travelGraph">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ghoom | Take up a Traveller Name for Yourself</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <base href="/"/>
        <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> -->
        <link rel="stylesheet" type="text/css" href="/static/bower_components/semantic-ui/dist/semantic.min.css">
    </head>
    <body ng-controller="MainCtrl">
        <!-- header now included throuh ng-include (inside ng-view) -->
        <ng-view></ng-view>
        <script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/angular-route/angular-route.min.js"></script>
        <!-- <script type="text/javascript" src="/static/bower_components/ckeditor/ckeditor.js"></script> -->
        <script type="text/javascript" src="/static/bower_components/ng-facebook/ngFacebook.js"></script>
        <script type="text/javascript" src="/static/bower_components/ngstorage/ngStorage.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/semantic-ui/dist/semantic.min.js"></script>
        <script type="text/javascript" src="/static/build/js/main.min.js"></script>
    </body>
</html>
