<!DOCTYPE html>
<script type="text/javascript">
	function submit () {
		// body...
		// add ajax
		var email = document.getElementById('email');
		var password = document.getElementById('password');
		if (email && password) {
			window.location = "/medium";
		}
	}
</script>
<body>
	<h1>Login</h1>
	Currently theres no validation, just write anything and click submit
	Email :<input id="email" type="email" name="email" /><br>
	Password :<input id="password" type="password" name="password" />
	<button onclick="submit()">Login</button>
</body>
</html>