{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
  $(function (){
    $('#answer-tags-select').chosen();
    $('.answered-tags-selected').chosen();
  });
</script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='javascripts/ques_id.js') }}"></script> -->
{% endblock %}

{% block body %}

<div class="uk-grid">
  <!-- FOR ASKER'S NAME, AVATAR AND RANK -->
  <div class="uk-width-1-5">
    
    <article class="uk-comment">
      <header class="uk-comment-header">
	
	<img class="uk-comment-avatar" alt="avatar" src="{{ url_for('static', filename='images/placeholder_avatar.svg') }}"/>
	<div hidden id="asker-user-id">{{ data.user.user_id }}</div>
	<h4 class="uk-comment-title">{{ data.user.first_name + " " + data.user.last_name }}</h4>
	<div class="uk-badge uk-badge-warning uk-badge-mini">Rank</div>
      </header>
    </article>

    <div class="uk-clearfix uk-margin-top uk-center">
      <button class="uk-button uk-button-small uk-button-primary" id="follow-asker" type="button">Follow</button>
    </div>
    
  </div>
  
  <!-- FOR QUES TEXT + OTHER DETAILS -->
  <div class="uk-width-4-5">
    <div hidden id="ques-id">{{ data.question.question_id }}</div>
    <h2>{{ data.question.question_text }}</h2>

    <div class="uk-grid">
      <div class="uk-width-4-5">
	<p>
	  {% for tag in data.question.question_tags %}
	  <button class="uk-button uk-button-mini" type="button">{{ tag }}</button>
	  {% endfor %}
	</p>	      
      </div>

      <div class="uk-width-1-5">
	<button class="uk-button uk-button-small uk-button-danger uk-margin-right uk-float-right" id="subscribe-question" type="button">Subscribe</button>
      </div>
    </div>
    
    <hr>
    <p>
      <button id="answer-button" class="uk-button uk-button-success" type="button" data-uk-toggle="{target:'#answer-textarea-grid'}">Answer</button>
    </p>
    
  </div>
  
</div>

<!-- FOR ANSWERS TEXTAREA -->
<div id="answer-textarea-grid" class="uk-grid uk-hidden" ng-controller="PostAnswerCtrl">

  <div class="uk-width-1-5"></div>
  
  <div class="uk-width-3-5">

    <textarea id="answer-text" name="answer-text" ck-editor ng-model="text">
      Post Your Answer Here.
    </textarea>
    
    <p>
      <button class="uk-button uk-button-success uk-margin-top" id="post-ans" ng-click="postAnswer()">Post</button>
    </p>

    <!-- </form> -->
  </div>

  <!-- FOR ADDITION OF TAGS FOR A QUESTION -->
  <div class="uk-width-1-5">
    <select id="answer-tags-select" class="uk-width-1-1" name="answer-tags-select" multiple data-placeholder="add some tags..">
      <option value="tag-1">tag-1</option>
      <option value="tag-2">tag-2</option>
      <option value="tag-3">tag-3</option>
      <option value="tag-4">tag-4</option>
      <option value="tag-5">tag-5</option>
      <option value="tag-6">tag-6</option>
      <option value="tag-7">tag-7</option>
      <option value="tag-8">tag-8</option>
      <option value="tag-9">tag-9</option>
    </select>
  </div>
  
</div>

<div class="uk-grid" id="ans-count">
  <div class="uk-width-1-5"></div>
  <div class="uk-width-3-5">
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
      <h5 id="answers-count-text">
	<!-- NO. OF ANSWERS APPENDED HERE -->
      </h5>
    </div>
  </div>
</div>

<!-- ANSWERS APPENDED INSIDE THIS DIV -->
<!-- <div class="uk-grid" id="answers-grid"></div>	 -->
<div class="uk-grid" id="answers-grid" ng-controller="GetAnswersCtrl">
  <div class="uk-grid uk-width-1-1" ng-repeat="answer_data in answers">
    <div class="uk-width-1-5"></div>

    <div class="uk-width-3-5">
      <hr>
      {[{ answer_data.answer }]}
      <article class="uk-comment uk-width-2-5">
	<header class="uk-comment-header">
	  <img class="uk-comment-avatar" src="../../static/images/placeholder_avatar.svg" alt="user-img" style="height: 40px; width: 40px;">Answered by <a href=""></a>
	  <ul class="uk-comment-meta">
	    <li>
	      <span>Answered at 9:30pm on 11 Feb 2015</span>
	    </li>
	  </ul>
	</header>
      </article>
    </div>
    
    <div class="uk-width-1-5 uk-margin-top"></div>
  </div>
</div>

{% endblock %}  
