{% extends "base.html" %}

{% block script %}
<script src="{{ url_for('static', filename='javascripts/question.js') }}"></script>
{% endblock %}

{% block body %}

<div class="uk-grid">
  
  <div class="uk-width-1-5"></div>
  
  <form class="uk-form uk-form-horizontal">
    
    <div class="uk-form-row">
      <label class="uk-form-label" for="question-text">Title</label>
      <div class="uk-form-controls">
	<input type="text" id="question-text" name="question-text" placeholder="What is your Question?">
      </div>
    </div>
    
    <div class="uk-form-row">
      <label class="uk-form-label" for="question-desc">Description</label>
      <div class="uk-form-controls">
	<textarea id="question-desc" name="question-desc" placeholder=" Write some description.."></textarea>
      </div>
      <script type="text/javascript">
	CKEDITOR.replace('question-desc');
	var objEditor = CKEDITOR.instances["question-desc"];
      </script>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="question-tags">Tags</label>
      <div class="uk-form-controls">
	<input type="text" id="question-tags" name="question-tags" placeholder="Enter some tags">
      </div>
    </div>

    <p>
      <button class="uk-button uk-button-success uk-button-large uk-container-cente" id="question-submit-button" type="button">
	Ask
      </button>
    </p>
    
  </form>

</div>

{% endblock %}  
