<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ghoom - Take up a Traveller Name for Yourself</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

      <!-- START MAGNIFIC POPUP STYLESHEET -->
  <link rel="stylesheet" type="text/css" href="../static/stylesheets/magnific-popup.css">
  <!-- END MAGNIFIC POPUP STYLESHEET -->

  <!-- LOAD GOOGLE FONT OPEN SANS -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700" rel="stylesheet" type="text/css">
  <!-- END GOOGLE FONT OPEN SANS -->
  

  <!-- START AJAX WEBFONTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <!-- END AJAX WEBFONTS -->

  <!-- START MOBILE DETECT -->
  <script>if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';</script>
  <!-- END MOBILE DETECT -->

  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
    
  </head>
  <body>

    
    
    <script src="../static/javascripts/jquery.js"></script>
    <!-- <script src="../static/javascripts/modernizr.js"></script> -->
    <script src="../static/javascripts/normal.js"></script>
    <!-- <script src="../static/javascripts/carousels.js"></script> -->
    <!-- <script src="../static/javascripts/jquery.stellar.js"></script> -->
    <!-- <script src="../static/javascripts/classie.js"></script> -->
    <!-- <script src="../static/javascripts/jquery.mixitup.js"></script> -->
    <!-- <script src="../static/javascripts/testimonials.js"></script> -->
    <!-- <script src="../static/javascripts/jquery.nicescroll.js"></script> -->
    <!-- <script src="../static/javascripts/rotating-text.js"></script> -->
    <!-- <script src="../static/javascripts/jquery.magnific-popup.js"></script> -->
    <!-- <script src="../static/javascripts/headhesive.min.js"></script> -->
    <!-- <script src="../static/javascripts/waypoints.min.js"></script> -->
    <script src="../static/javascripts/scripts.js"></script>

  </body>
</html>
