<!DOCTYPE html>
<html>
  
  <head><!-- START HEAD -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ghoom | Take up a Traveller Name for Yourself</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <link href="../static/stylesheets/uikit.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="../static/javascripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="../static/javascripts/uikit.min.js"></script>
  </head>
  
  <body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-bottom uk-margin-large-top" style="border: solid;">
      <div class="uk-grid">

	<!-- left panel -->
	<div class="uk-width-medium-1-4">
	  <ul class="uk-nav uk-nav-side uk-nav-parent-icon">
	    <li class="uk-active"><a href="#">Latest Activity</a></li>
	    <li><a href="#">Asked Questions</a></li>
	    <li><a href="#">Answered</a></li>
	    <li class="uk-parent uk-open">
	      <a href="#">Following</a>
	      <div style="overflow: hidden; height: 0px; position: relative;">
		<ul class="uk-nav-sub">
		  <li><a href="#">Users</a></li>
		  <li><a href="#">Tags</a></li>
		</ul>
	      </div>
	    </li>
	    
	  </ul>
	</div>
	
	<!-- main content of the page -->
	<div class="uk-width-medium-2-4">
	</div>

	<!-- container for the user profile grid (displayed on the right side of the page) -->
	<div class="uk-width-medium-1-4">
	  <div class="uk-panel uk-panel-box uk-text-center">
	    <img class="uk-border-circle" src="" alt="" height="120" width="120"> <!-- avatar or user image to be added here -->
	    <h3>Name of the User</h3>
	    <p>Some random description about the user</p>
	  </div>
	</div>
	
      </div>
    </div>
  </body>
  
</html>
