#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}
#fb-button {
    background: url(/static/images/facebook-button.png);
    width: 202px;
    height: 45px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
input.ng-invalid.ng-dirty {
  border: 1px solid red;
}
input.ng-valid.ng-dirty {
  border: 1px solid green;
}