
    <!-- TOP NAVBAR -->
    <nav class="uk-navbar" ng-switch on="loggedIn">
      <ul class="uk-navbar-nav">
	<li><a href="/all_questions">Questions</a></li>
	<li><a href>Tags</a></li>
	<li><a href>Users</a></li>
	<li><a href="/signup">Sign up</a></li>
	<li><a href="/question">Ask a Question</a></li>
      </ul>
      
      <div class="uk-navbar-flip" ng-switch-when="true">
	<ul class="uk-navbar-nav">
	  <li class="uk-parent" data-uk-dropdown aria-haspopup="true" aria-expanded="false">
	    <a href="#">Hello {[{ userData.first_name }]}</a>
	    <div class="uk-dropdown uk-dropdown-navbar">
	      <ul class="uk-nav uk-nav-navbar">
		<li><a href="/profile">Profile</a></li>
		<!-- <li><a href="#">Item</a></li> -->
		<!-- <li><a href="#">Item</a></li> -->
		<!-- <li><a href="#">Item</a></li> -->
		<li><a ng-click="logoutUser()">Logout</a></li>
	      </ul>
	    </div>
	  </li>
	</ul>
      </div>
      <div class="uk-navbar-flip" ng-switch-when="false">
	<ul class="uk-navbar-nav">
	  <li class="uk-parent" data-uk-dropdown aria-haspopup="true" aria-expanded="false">
	    <a href="#">Username</a>
	    <div class="uk-dropdown uk-dropdown-navbar">
	      <ul class="uk-nav uk-nav-navbar">
		<li><a href="#">Item</a></li>
		<li><a href="#">Item</a></li>
		<li><a href="#">Item</a></li>
		<li><a href="#">Item</a></li>
		<li><a href="#">Item</a></li>
	      </ul>
	    </div>
	  </li>
	</ul>
      </div>
      
    </nav>

    
<div style="padding: 20px 0;">
  <div class="uk-container uk-container-center">

    <div class="uk-grid">
      <div class="uk-width-4-5">
	<div class="uk-article" ng-repeat="question in questionsList | reverse">
	  <div class="uk-article">
	    <!-- <a href=""> -->
	    <p class="uk-article-lead uk-text-large" ng-click="goToQuestion(question.question_id)" style="cursor:pointer;">{[{ question.question_text }]}</p>
	    <p class="uk-text-muted" ng-click="goToQuestion(question.question_id)" style="cursor:pointer;" ng-bind-html-unsafe="question.question_desc"></p>
	    <button class="uk-button uk-button-mini" type="button" ng-repeat="tag in question.question_tags">{[{ tag.tag_value }]}</button>
	  </div>
	</div>
      </div>

    </div>
  </div>
