<!-- <div ng-include src="'/static//'"></div> -->

<div class="ui middle aligned centered grid login-pg">
    <div class="seven wide column segment very padded raised">
        <h3 class="ui top attached block header">Login/Signup</h3>
        <div class="ui attached segment" style="width: 101%;">
            <p class="center">This is some content</p>
            <button class="ui large facebook button" style="display:block; margin: auto; width: 50%;">
                <i class="facebook icon"></i>
                Continue with Facebook
            </button>
            <div class="ui horizontal divider">
                Or
            </div>
            <button class="ui large google plus button" style="display:block; margin: auto; width: 50%; ">
                <i class="google plus icon"></i>
                Continue with Google
            </button>
        </div>
    </div>
</div>
<div class="ui celled centered horizontal list">
    <div class="item">
        <a href="">About Us</a>
    </div>
    <div class="item">
        <a href="">Contact</a>
    </div>
    <div class="item">
        <a href="">Support</a>
    </div>
</div>

