<!-- <div ng-include src="'/static//'"></div> -->

<div class="ui middle aligned centered grid" style="height: 100%;">
    <div class="seven wide column" style="background-color:rgba(255, 255, 255, 0.2); border: 1px solid white;  border-radius: 5px; padding: 20px;">
        <h2 style="text-align: center; margin-bottom: 30px;">Login/Signup</h2>
        <button class="ui big facebook button" style="display:block; margin: 20px auto; width: 60%;">
            <i class="facebook icon"></i>
            Login with Facebook
        </button>
        <button class="ui big google plus button" style="display:block; margin: 20px auto; width: 60%; ">
            <i class="google plus icon"></i>
            Login with Google
        </button>
    </div>
</div>
