<div ng-include src="'/static/partials/header.html'"></div>

<div style="padding: 20px 0;">
  <div class="uk-container uk-container-center">
    <h1>Login</h1>
    Enter your details<br>
    <form name="loginForm" ng-submit="loginForm.$valid && loginUser(loginDetails);" novalidate>
      Email :
      <input
	 type="email"
	 name="email"
	 ng-model="loginDetails.email"
	 ng-required="true">
      <br>
      Password :
      <input
	 type="password"
	 name="password"
	 ng-model="loginDetails.password"
	 ng-required="true">
      <br>
      <button id="login-button">Login</button>
      <div class="uk-alert uk-alert-danger" ng-show="invalidCredentials">Invalid email address or password.</div>
    </form>
    <br><br>
    <button id="fb-button" ng-click="FbLogin()"></button>
    <h2>If you didnt signup</h2>
    <a href="/signup">Click here to signup by Email</a>
  </div>
</div>
