<div ng-include src="'/static/partials/header.html'"></div>

<div style="padding: 20px 0;">
  <div class="uk-container uk-container-center">
    <h1>Login</h1>
    Enter your details<br>
    <form invalid name="loginForm" ng-submit="loginUser(loginDetails);" novalidate>
      Email :<input id="email" type="email" name="email" ng-model="loginDetails.email" ng-blur="emailBlur = true" required="required">
      <br>
      <div ng-show="submitted && loginForm.loginDetails.email.$dirty && loginForm.loginDetails.email.$invalid">Required</div>
      Password :<input id="password" type="password" name="password" ng-model="loginDetails.password" ng-blur="passwordBlur = true" required="required">
      <br>
      <div ng-show="submitted && loginForm.loginDetails.password.$dirty && loginForm.loginDetails.password.$invalid">Required</div>
      <button id="login-button" ng-click="submitted=true">Login</button>
      <div class="uk-alert uk-alert-danger" ng-show="invalidCredentials">Invalid email address or password.</div>
    </form>
    <br><br>
    <button id="fb-button" ng-click="FbLogin()"></button>
    <h2>If you didnt signup</h2>
    <a href="/signup">Click here to signup by Email</a>
  </div>
</div>
