<!--
    */CONVERT ALL ng-click to ng-submit to the form/*
  -->

<!-- <script src="{{ url_for('static', filename='javascripts/question.js') }}"></script> -->
<div class="uk-grid">
  
  <div class="uk-width-1-5"></div>
  
  <form class="uk-form uk-form-horizontal">
    
    <div class="uk-form-row">
      <label class="uk-form-label" for="question-text">Title</label>
      <div class="uk-form-controls">
	<input type="text" id="question-text" name="question-text" placeholder="What is your Question?" ng-model="questionData.title">
      </div>
    </div>
    
    <div class="uk-form-row">
      <label class="uk-form-label" for="question-desc">Description</label>
      <div class="uk-form-controls">
	<textarea id="question-desc" name="question-desc" placeholder=" Write some description.." class="ck-editor" ng-model="text"></textarea>
      </div>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="question-tags">Tags</label>
      <div class="uk-form-controls">
	<input type="text" id="question-tags" name="question-tags" placeholder="Enter some tags" ng-model="questionData.tags">
      </div>
    </div>

    <p>
      <button class="uk-button uk-button-success uk-button-large uk-container-cente" id="question-submit-button" type="button" ng-click="postQuestion()">
	Ask
      </button>
    </p>
    
  </form>

</div>
