<div ng-include src="'/static/partials/header.html'"></div>

<div style="padding: 20px 0;">
  <div class="uk-container uk-container-center">
    <form name="signupForm" ng-submit="signupForm.$valid && addUser()">
      <div>
	<h1>Sign up</h1>
	<p>Enter the details below to sign up</p>
	<input placeholder="Email"
	       type="email"
	       name="email"
	       ng-model="newUserDetails.email"
	       ng-required="true" required>
	<br>
	<input placeholder="Password (at least 6 chars long)"
	       type="password"
	       name="password"
	       ng-minlength="6"
	       ng-model="newUserDetails.password"
	       ng-required="true" required>
	<br>
	<input placeholder="First Name"
	       type="text"
	       name="first_name"
	       ng-model="newUserDetails.firstName"
	       ng-required="true" required>
	<br>
	<input placeholder="Last Name"
	       type="text"
	       name="last_name"
	       ng-model="newUserDetails.lastName"
	       ng-required="true" required>
	<br>
	<button type="submit" class="">Sign up</button>
	<div class="uk-alert uk-alert-danger" ng-show="invalidCredentials">Invalid email address or password.</div>
      </div>
    </form>
  </div>
</div>
